on:
  workflow_dispatch:
  schedule:
    - cron: "0 05 * * SUN"

jobs:
  sc4s:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - run: ./sc4s_sync.sh
      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.SA_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.SA_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Create PR with new version
        run: |
          git config --global user.email ${{ secrets.GH_USER_EMAIL }}
          git config --global user.name ${{ secrets.GH_USER_ADMIN }}
          git config --global commit.gpgsign true

          BRANCH_NAME="fix/update-sc4s-version"
          ( git checkout "$BRANCH_NAME"  && git checkout main && git branch -D "$BRANCH_NAME" ) || true
          git checkout -B "$BRANCH_NAME"
          git add . || exit 1
          git commit -am "fix: update SC4S version" || true
          git push -f --set-upstream origin "$BRANCH_NAME" || true
          sleep 10s
          gh pr create \
              --title "fix: bump SC4S version" --fill --head "$BRANCH_NAME" || true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_ADMIN }}

  splunk:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: check for latest version
        id: check-latest-splunk
        run: |
          pip install -r requirements.txt
          is_splunk_config_file_updated=$(python splunk_matrix_update.py)
          echo $is_splunk_config_file_updated
      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.SA_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.SA_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Create PR with new version
        run: |
          git config --global user.email ${{ secrets.GH_USER_EMAIL }}
          git config --global user.name ${{ secrets.GH_USER_ADMIN }}
          git config --global commit.gpgsign true

          BRANCH_NAME="fix/update-splunk-version"
          ( git checkout "$BRANCH_NAME"  && git checkout main && git branch -D "$BRANCH_NAME" ) || true
          git checkout -B "$BRANCH_NAME"
          git add . || exit 1
          git commit -am "fix: update Splunk version" || true
          git push -f --set-upstream origin "$BRANCH_NAME" || true
          sleep 10s
          gh pr create \
              --title "fix: bump Splunk version" --fill --head "$BRANCH_NAME" || true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_ADMIN }}
